<div class="ads">
   <div class="text-add">
    <h3>
        الموقع تحت التطوير 
    </h3>
    <h4> لن يتم الاحتفاط باي بيانات حاليا ...</h4>
  <h4> عند الاطلاق الرسمي للموقع سيتم حزف كل البينات الحالية خذ في العلم هذا الاطلاق للاختبار فقط</h4>
   </div>
    <!-- <img src="/img/testimonial-bg.jpg" alt="testimonial-bg.jpg" > -->
</div>