<header class="navbar navbar-dark sticky-top flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="/">دلالة</a>

    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <form method="post" action="/search" class="search w-100 rounded-0 border-0">
        <input class="form-control form-control-dark" name="searchTerm" type="search" placeholder="ابحث عن سلعة"
            aria-label="Search" id="searchbar">
    </form>



    <div class="navbar-nav">
        <% if(!user){ %>

            <div class="nav-item text-nowrap">
                <a class="nav-link px-3" href="/user/login">تسجيل </a>
            </div>
            <% } else {%>



                <div class="nav-item text-nowrap">

                    <a class="nav-link px-3" href="/user/logout">تسجيل الخروج</a>
                </div>

                <% } %>
    </div>
</header>