<div class="mb-2 mb-md-0  flex-wrap flex-md-nowrap">
    <ul class="d-flex p-2 justify-content-between c-nav-opiton">

        <li class=""><a class="p-1" href="">سيارات <i class="fa fa-car"></i></a></li>
        <li class=""><a class="p-1" href="">الكترونيات</a></li>
        <li class=""><a class="p-1" href="#"> عقارات <i class="fa fa-home"></i></a></li>
        <li class=""> <a class="p-1" href="">الازياء والموضه<i class=""></i></a></li>
        <li class=""><a class="p-1" href=""> مستحضرات وادوات تجميل<i class=""></i></a></li>
        <li class=""> <a class="p-1" href="">أطفال وألعاب<i class=""></i></a></li>
        <li class=""> <a class="p-1" href="">سلع اخري <i class=""></i></a></li>

    </ul>


</div>