<!-- Categories Start -->
<!-- row-cols-2 -->
<div class="row sm-row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4">

    <% if(categories !='' ) { %>
        <% categories.forEach(function(category, index) { %>
            <a href="/categories/<%- category.name %>" class="col btn-dark">

                <div class="pt-1 ">
                    <%- category.ar %>
                </div>
            </a>
            <% }) %>
                <% } %>

                    <a href="/categories" class="col text-center   btn-dark">

                        <div class="pt-1">عرض الكل</div>
                    </a>

</div>
<!-- Categories End -->