<div class="q">
    <div class="text-add">
  <h4 style="text-align: center;">
    یَـٰبُنَیَّ أَقِمِ ٱلصَّلَوٰةَ وَأۡمُرۡ بِٱلۡمَعۡرُوفِ وَٱنۡهَ عَنِ ٱلۡمُنكَرِ وَٱصۡبِرۡ عَلَىٰ مَاۤ أَصَابَكَۖ إِنَّ ذَ ٰ⁠لِكَ مِنۡ عَزۡمِ ٱلۡأُمُورِ

  </h4>
    </div>
     <!-- <img src="/img/testimonial-bg.jpg" alt="testimonial-bg.jpg" > -->
 </div>