<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">

                    <img src="/imgs/delala-logo.png" alt="..." height="100" width="100">

                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/categories">
                    <span data-feather="file" class="align-text-bottom"></span>
                    كل الاقسام
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/profile">
                    <span data-feather="shopping-cart" class="align-text-bottom"></span>
                    صفحتي الشخصية
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/stores">
                    <span data-feather="users" class="align-text-bottom"></span>
                    متاجر
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/serveces">
                    <span data-feather="bar-chart-2" class="align-text-bottom"></span>
                    خدمات
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/prodects/add-prodect">
                    <span data-feather="file-text" class="align-text-bottom"></span>
                    اضافه منتج
                </a>
            </li>

            <!-- <li class="nav-item">
                <a class="nav-link" href="/term">
                    <span data-feather="file-text" class="align-text-bottom"></span>
                    الشروط والاحكام
                </a>
            </li> -->

            <li class="nav-item">
                <a class="nav-link" href="/about">
                    <span data-feather="file-text" class="align-text-bottom"></span>
                    حول
                </a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="/test">
                    <span data-feather="file-text" class="align-text-bottom"></span>
                    testing
                </a>
            </li> -->
        </ul>
    </div>
</nav>