<%- include ('./partials/_dashboardHeader') %>


    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <%- include ('./partials/_sidebarmenu') %>


<div class="add_pro_con">
    
    <select class="accordion-collapse form-select" name="category" id="prodects-categorys">
        <option selected>اي انواع السلع تقدم</option>
        <option value="Vehicles">سيارات</option>
        <option value="Electronics">الكترونيات</option>
        <option value="Realestate">عقارات </option>
        <option value="Fashions">الازياء والموضه</option>
        <option value="Makup">مستحضرات وادوات تجميل</option>
        <option value="ForKides">أطفال وألعاب</option>
        <option value="Foods">طعام وغذاء</option>
        <option value="Others">سلع اخري </option>
    </select>
 
    <button id="cat-select" onclick="xb()" class="btn btn-outline-dark btn-block ">تاكيد</button>
    <form action="/prodects/add-prodect" method="post" id="prodects-form" enctype="multipart/form-data">
        <h1 class="out">
        </h1>
        <!-- <div class="spinner-border text-primary" role="status" style="display: none;">
            <span class="visually-hidden">Loading...</span>
          </div> -->
    </form>
    
</div>

         
    </main>