
 




<%- include ('./partials/_dashboardHeader') %>

<div class="container-fluid">
    <div class="row">

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <%- include ('./partials/_sidebarmenu') %>

            <%- include ('./partials/_ads') %>

            <h2>السلع المضافة للمفضلة %> </h2>

            enctype="multipart/form-data"
<form action="/user/edit" method="post" >
  <input type="hidden" name="_method" value="put">
<input type="text" name="displayName">
<!-- <input type="file" name="image" id=""> -->
<button type="submit">vvv</button>

</form>



</main>
</div></div>