<%- include ('../partials/_dashboardHeader') %>

    <div class="container-fluid">
        <div class="row">
            <%- include ('../partials/_sidebarmenu') %>


                <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">


                    <br>
                    <br>
                    <br>
                    <br>


                    <div class="card-about">
                        <h2 class="welcome">
                            مرحبا بكم
                        </h2>

                        <p>
                            من نحن

مرحبًا بكم في دلالة — منصتكم السودانية الموثوقة للبيع والشراء عبر الإنترنت.

نحن نسعى إلى توفير مساحة إلكترونية آمنة وسهلة تُمكن الأفراد والشركات من عرض منتجاتهم وخدماتهم والوصول إلى أكبر عدد من العملاء في جميع أنحاء السودان.
        </p>

                    </div>

        </div>



        </main>
    </div>
    </div>