<%- include ('../partials/_dashboardHeader') %>

    <br>
    <br>

    <div class="term container">
        <h1>الشروط والأحكام</h1>
        <p>
            الرجاء مراجعة هذه الشروط والأحكام بعناية قبل استخدام هذا الموقع
        </p>
        <h3> مقدمة</h3>
        <p>
            شروط الاستخدام (مع الوثائق المشار إليها في هذه الوثيقة) تتضمن الإرشادات اللازمة لكيفية استخدام والاستفادة من
            موقعنا delala ، سواءً كمتصفح أو كمستخدم. يتضمن إرشادات استخدام موقعنا على إجراءات الدخول والتصفح أو
            التسجيل لاستخدام الموقع.

            يرجى قراءة شروط الاستخدام أدناه بعناية قبل البدء باستخدام موقعنا، فهي تنطبق على استخدامكم لموقعنا. ننصحك
            بطباعة
            نسخة من هذه الشروط لإمكانية الرجوع إليها عند الحاجة في المستقبل.

            باستخدام موقعنا، فإنك تؤكد قبولك بشروط الاستخدام هذه والموافقة على الامتثال لما تتضمنه من أحكام.

            في حال كنت لا توافق على هذه الشروط فلا يحق لك استخدام الموقع.
        </p>
        <h3> شروط إضافية</h3>
        <p> تشتمل شروط الاستخدام أيضًا على الشروط الإضافية التالية، التي تنطبق كذلك على استخدامك الموقع:

            سياسة الخصوصية لـ delala التي تنص على الشروط التي نقوم بموجبها بمعالجة البيانات الشخصية التي تقدمونها
            للموقع. وباستخدامكم الموقع، فإنكم توافقون على هذه المعالجة وتتعهدون بأن جميع البيانات التي تقدمونها هي
            بيانات
            صحيحة ودقيقة.</p>
        <h3> التغييرات في الشروط</h3>
        <p> لدينا حق تعديل هذه الشروط في أي وقت من خلال تعديل هذه الصفحة.

            يرجى مراجعة هذه الصفحة من وقت لآخر للاطلاع على أي تعديلات جديدة فهي ملزمة للمستخدم.
        </p>
        <h3> التعديلات في الموقع</h3>
        <p> قد نقوم بتحديث محتوى موقعنا من حين لآخر. لذا يرجى ملاحظة أن أي جزء من محتويات الموقع قد يصبح قديما في أي
            وقت،
            ونحن غير ملزمين بتحديثه مطلقا.
            كما لا نضمن خلو موقعنا أو أي جزء من محتوياته من الخطأ أو السهو.
        </p>
        <h3> الحساب وكلمة المرور</h3>
        <p> تُعامل معلومات الدخول – اسم المستخدم وكلمة المرور وأي معلومات أخرى – والتي سيتم تزويدكم بها بعد إنشاءكم حساب
            المستخدم بسرية تامة وعدم افصاحها لطرف ثالث، وذلك كجزء من إجراءاتنا الخاصة بالأمان.

            خصوصية الدخول، كما سُيطلب منكم إدخال معلومات إضافية (كالعنوان) إنك بذلك تتعهد بأن جميع المعلومات المدخلة
            صحيحة
            وتوافق على تحديثها وتحرى الدقة عند إدخالها.

            لدينا الصلاحية في تعطيل أي حساب مستخدم أو كلمة مرور، سواء تم اختيارها من قبلكم أو تم تخصيصها لكم بواسطتنا،
            في أي
            وقت، حين نرى أنكم قد فشلتم في التقيد بأحد شروط الاستخدام وأحكامه. في حالة الشك بأن شخصًا آخرعلى علم بحساب
            المستخدم أو كلمة المرور الخاصة بكم، يجب إبلاغنا فورًا
        </p>
        <h3> الدخول لموقعنا</h3>
        <p> لا نضمن دوام استمرارية وإتاحة موقعنا أو جزءًا من محتواه. استخدامكم لموقعنا يُعتبر استخدامًا مؤقتًا، حيث يحق
            لنا
            تعليق أو حجب أو إيقاف أو تغيير كل أو جزء من موقعنا بدون إشعار مسبق. نُخلي مسؤوليتنا من عدم إتاحة موقعنا لأي
            اسباب وفي أي وقت.

            المستخدم مسؤول عن كافة إجرائات الدخول اللازمة في الموقع.

            يتحمل المستخدم مسؤولية ضمان إحاطة وإمتثال جميع مستخدمي الموقع عبر اتصال الإنترنت الخاص به بشروط الاستخدام
            والأحكام المطبقة الأخرى.

            صُمم موقعنا للإستخدام داخل السودان ولا نضمن توفرمحتوى موقعنا في أماكن أخرى. يحق لنا الحد من
            توفير موقعنا وتقنين خدماته فيما يخص أي شخص في أي وقت كان. يتحمل المستخدم كامل مسؤولية دخوله لموقعنا من خارج
            السودان</p>
        <h3> القواعد السلوكية لاستخدام الإنترنت</h3>
        <p> إنك توافق على مسؤولية استخدامك الخاص لموقعنا، وأي محتوى تقوم بتحميله، وأي تواصل مع المستخدمين الآخرين
            ومنشورات
            المستخدم الخاص بك (مشتملاً على كل ما تقوم أنت أو مستخدمون آخرون بإرساله أو نشره على موقعنا، على سبيل المثال
            لا
            الحصر الملاحظات والأسئلة، التعليقات ومقاطع الفيديو وكل مايتم تحمله من ملفات). كما توافق على استخدامك لموقعنا
            ممتثلاً لهذه الشروط وكافة القوانين والقواعد والأنظمة المحلية والوطنية والدولية، بالإضافة إلى ذلك حقوق الطبع
            والنشر وقوانين نقل البيانات الفنية الصادرة عن بلد إقامتك.

            تتعهد بإمتثال استخدامك أو مساهمتك لهذه المعايير، وولائك لنا وتعويضنا عن أي إخلال يصدر منك بشأن تلك الشروط.
            مما
            يعني مسؤوليتك التامة في تعويض الأضرار الناتجة عن إخلالك بهذه الشروط.

            كل ما تقوم بتحميله على موقعنا لا يُعتبر محتوى سري ولا تملكي. وستحتفظ بكافة حقوق الملكية لمحتواك، بعد منحك
            لنا
            ولمستخدمي موقعنا الآخرون رخصة محدودة لاستخدام وتخزين ونسخ هذا المحتوى ونشره وإتاحته لأطراف أخرى. تجد أدنا
            وصفًا
            لصلاحيات التي تمنحنا إياها.

            <!-- لا يجوز لك استخدام موقعنا لنقل أو بيع أي مواد إعلانية غير مجازة أو ممنوحة أو مواد ترويجية أو أي شكل من
            الأشكال
            التروجية الأخرى (رسائل عشوائية). -->

            لنا حق الإفصاح عن هويتك لأي طرف ثالث أو لسلطات قانونية أو حكومية تدَعي بأن أي محتوى تقوم بنشره او تحميله
            يشكل
            خرقًا لحقوق الملكية الفكرية أو حق الخصوصية الخاص بها أو القانون المطبق.

            لا نتحمل مسؤولية دقة المحتوى المستخدم من قبلك أو من قبل أي طرف ثالث لموقعنا.

            إنك توافق على عدم تجميع أو تنزيل أجزاء كثيرة من محتوى موقعنا، على سبيل المثال لا الحصر قائمة بمستخدمي
            النظام، أو
            المصادر الإلكترونية، أو مشاركات المستخدمين أو معلوماتهم.

            يحق لنا حذف أي من مشاركاتك على موقعنا إذا لم تتوافق مع شروطنا.

            آراء مستخدمي موقعنا لا تعبر عن آرائنا ولا تمثل قيمنا.
        </p>
        <h3> تحديد المسؤولية</h3>
        <p> لا تتحمل delala أي مسؤولية عن المواد والمعلومات والسلع والمنتجات المتوفرة على موقع الإنترنت هذا، أو المنشورة
            عليه أو
            المتوفرة بشكل آخر من خلاله. الاعتماد على هذه المواد والمعلومات والسلع والمنتجات تحت مسؤوليتك أنت فقط. تتخلى
            delala عن
            أي
            مسؤؤولية أو أضرار ناتجة عن استخدام موقع الإنترنت هذا، أو المحتوى الموجود به.

            ، ومحتوى الموقع والمنتجات والخدمات المتوفرة عليه أو من خلاله “كما هي” وبشكل
            “متاح”، مع كل العيوب. لن تتحمل delala بأي حال من الأحول، أو الشركات التابعة لها، أو المنضمة لها، أو بائعيها،
            مديريها أو موظفيها أو وكلائها (المشار إليهم هنا بـ “أطراف delala”) مسؤولية أي أضرار من أي نوع، بموجب أي
            نظرية
            قانونية، والناتجة عن أو تتعلق باستخدامك، أو عدم قدرتك على الاستخدام، أو موقع الإنترنت هذا، أو هذا المحتوى،
            أو أي
            خدمات متوفر على أو عبر موقع الإنترنت هذا أو أي موقع مرتبط به، بما في ذلك أي أضرار خاصة، أو غير مباشرة، أو
            تأديبية، أو عرضية، أو مثالية أو تبعية. باستثناء في حالة الموت أو الإصابة الشخصية الناتجة عن الإهمال، لا
            تتحمل
            delala وأطرافها بموجب هذه السياسة، إلى أقصى حد مسموح به بواسطة القانون المعمول به، مسؤولية أي خسارة أو ضرر
            يعاني
            منه أي شخص، سواء كانت معاناة مباشرة، أو غير مباشرة، أو فورية، أو تبعية، وسواء كانت ناتجة عن العقد، أو الأذى
            (بما
            في ذلك الإهمال) أو ناتجة عن، أو ما يتعلق بـ: (١) استخدام موقع الإنترنت أو عدم القدرة على استخدامه؛ (٢)
            استخدام
            المعلومات أو المحتوى على موقع الإنترنت؛ (٣) أي خدمات متوفرة على موقع الإنترنت أو من خلاله؛ و(٤) معارضة
            الوصول أو
            الوصول غير المسموح به إلى العلومات الشخصية المرسلة إلى موقع الإنترنت، ويشمل، على سبيل المثال لا الحصر،
            تصنيفات
            الخسائر والأضرار التالية، سواء أخبرت delala بإمكانية وقوع هذه الخسائر أو الأضرار أم لا:

            فقدان البيانات أو تلفها
            خسارة الأرباح
            خسارة المدخرات المتوقعة
            خسارة فرصة تجارية
            خسارة المودة
            خسارة السمعة الجيدة
            ضرر خاص</p>

        <h3>
            محظورات المحتوى:
        </h3>
        <ol>
            <li> عليك أن تدرك أنك مسؤول عن كامل المحتوى الذي تنشره أو تقدمه أو تتيحه بطريقة أو بأخرى في التطبيق أو من
                خلاله
                لجميع مستخدمي التطبيق.</li>
            <li> تحميل أو نشر أو إرسال بريد إلكتروني أو نقل أو إتاحة أي محتوى بطريقة غير قانونية أو ضارة أو تهديدية أو
                مسيئة
                أو مضايقة أو مؤذية أو مبتذلة أو مخلة بالآداب أو تشهيرية أو تنتهك خصوصية الآخرين أو تحمل كراهية أو تكون
                عنصرية أو عرقية أو غير ذلك؛</li>
            <li>
                الإضرار بالقصر والمسنين بأي شكل من الأشكال؛ انتحال شخصية أي شخص أو كيان، بما في ذلك، على سبيل المثال لا
                الحصر، ممثل بالآتي delala أو تزوير انتسابك لأي جهة أو كيان؛ تزوير المطبوعات أو التلاعب بمعرفات الهوية من
                أجل
                إخفاء أصل أي محتوى يتم إرساله عبر التطبيق؛
            </li>

            <li>
                تحميل أو نشر أو إرسال بريد إلكتروني أو نقل أو إتاحة أي محتوى ينتهك أي براءة اختراع أو علامة تجارية أو
                أسرار
                تجارية أو حقوق طبع والنشر أو غيرها من حقوق الملكية الفكرية أو حقوق الملكية لأي شخص أو كيان؛
            </li>

            <li>
                ترصد أو مضايقة أي شخص أو كيان.
            </li>

        </ol>
    </div>

    <br>
    <br>