<%- include ('../partials/_dashboardHeader') %>

    <div class="container-fluid">
        <div class="row">
            <%- include ('../partials/_sidebarmenu') %>


                <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">


                    <br>
                    <br>
                    <br>
                    <br>


                    <div class="card-about">
                        <h2 class="welcome">
                            مرحبا بكم
                        </h2>

                        <p>
                            منصة بيع وشراء وتبادل السلع والمنتجات والخدمات في السودان حيث تتيح للمستخدم عرض سلعه
                            او خدمة حسب التصنيفات المتفوفرة لدينا داخل الموقع مما يتيح للزوار تصفح السلع
                            والتواصل مع المالك او الوسيط في من خلال وسيله التواصل المتوفره من قبل المستخدم .
                            الغرض هو ضبط وتوحيد الاسعار بالشكل العادل حتي يكون للمستهلك المعلومات الافضل
                            والخيارات المتعددة

                        </p>

                    </div>

        </div>



        </main>
    </div>
    </div>