<%- include ('../partials/_dashboardHeader') %>

    <div class="container-fluid">
        <div class="row">
            <%- include ('../partials/_sidebarmenu') %>


                <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">


                    <div class="about">

                        <div class="card-about" data-tilt data-tilt-scale="0.95" data-tilt-startY="40">
                            <div class="welcome">
                                مرحبا بكم
                            </div>
                            <div class="about-me">
                                <p>
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda sequi nihil
                                    delectus laborum quas esse, quaerat blanditiis molestiae quos doloremque harum?
                                    Atque eos placeat aperiam libero neque itaque sint cum ex laboriosam esse sunt
                                    voluptates dolore veniam, delectus nesciunt? Quis vel non quasi. Autem quidem, neque
                                    quis magni atque veniam voluptates id, sequi labore assumenda est dolorum temporibus
                                    deleniti. Voluptate?
                                </p>
                            </div>
                        </div>
                    </div>

                    <%- include ('../partials/_footer') %>

                </main>
        </div>
    </div>