<%- include ('../partials/_dashboardHeader') %>

    <div class="container-fluid">
        <div class="row">
            <%- include ('../partials/_sidebarmenu') %>
                <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                    <%- include ('../partials/_ads') %>

<div class="prodect_container">
    <div class="d-flex conn">
    <div class="img_form">
<img src="/imgs/annie-spratt-01Wa3tPoQQ8-unsplash.jpg" alt="" srcset="">
    </div>
    <div class="detail_form">
<h2>اسم السلعة :   </h2>
<h2>العنوان البائع : </h2>
<h2>رقم الهاتف : </h2>
<h2 >التفاصيل : </h2>
<h2>السعر :  SDG</h2>
</div>
    </div>
    <div class="icons">
<form action="" method="post">
    <button onclick="report()" class="btn mb-4" id="shareBtn">الابلاغ عن السلعة  <i class="fa fa-flag"></i></button>    
</form>
<form action="" method="post">
<button onclick="report()" class="btn mb-4" id="shareBtn">اضافه الي المفضلة  <i class="fa fa-heart"></i></button>    
</form>
<button onclick="share()" class="btn mb-4" id="shareBtn">المشاركة  <i class="fa fa-share"></i></button>    

    </div>
</div>
          



                      
                </main>
        </div> 
    </div>