<form>
    <select class="form-select" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="1">سيارات</option>
        <option value="2">الكترونيات</option>
        <option value="1">عقارات </option>
        <option value="1">الازياء والموضه</option>
        <option value="1">مستحضرات وادوات تجميل</option>
        <option value="1">أطفال وألعاب</option>
        <option value="1">طعام وغذاء</option>
        <option value="1">سلع اخري </option>
    </select>
    <button type="submit" class="btn btn-outline-dark btn-block">التالي</button>

</form>
<!-- 
<li class=""><a class="p-1" href="">سيارات <i class="fa fa-car"></i></a></li>
<li class=""><a class="p-1" href="">الكترونيات</a></li>
<li class=""><a href="#"> عقارات <i class="bi bi-chevron-down"></i></a></li>
<li class=""> <a class="p-1" href="">الازياء والموضه<i class=""></i></a></li>
<li class=""><a class="p-1" href=""> مستحضرات وادوات تجميل<i class=""></i></a></li>
<li class=""> <a class="p-1" href="">أطفال وألعاب<i class=""></i></a></li>
<li class=""> <a class="p-1" href="">شركات - معدات مهنية<i class=""></i></a></li>
<li class=""> <a class="p-1" href="">سلع اخري <i class=""></i></a></li> -->